body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }

  .calculator {
    background-color: #EBE5F9;
    height: 50%;
    width: 33.333%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #4B2995;
  }

  h1, h2 {
    color: #4B2995;
    font-weight: bold;
  }

  label {
    color: #4B2995;
  }

  input {
    border-radius: 5px;
    border: 1px solid #4B2995;
    padding: 5px;
  }

  button {
    background-color: #4B2995;
    color: #ffffff;
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }